body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

.header {
    background-color: #1F2937;
    padding:  20px 200px 120px 200px;
    
}

.header-text {
    display: flex 1 1 0;

}

.header-part-2 {
    display: flex;
    gap: 60px;
}

.header-part-2 > * {
    flex: 1;
}
.top {
    display: flex;
    margin-bottom: 100px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.header p,
.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 35px;
    border-radius: 10px;
    border: none;
}

.image {
    color:#E5E7EB; ;
    background-color: grey;
    display: flex ;
    align-items: center;

}

/* Second section */

.Information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    display: flex;
}

.mid-images img {
    border:solid 4px #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: auto;
    
}

.mid-images {
    display: flex;
    margin: auto 400px ;
    flex-shrink: 0;
    gap: 20px;
    justify-content: center;
    
}

.mid-images p {
    text-align: center;
}

/*  Third Section (quote) */

.quote {
    background-color: #E5E7EB;
    padding: 75px 320px ;
    margin: 75px 0;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .person {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

/* Fourth section */

.sign-up {
    background-color: #3882F6;
    display: flex ;
    margin: 100px 200px ;
    border-radius: 10px;
    padding: 25px 90px;
    justify-content: space-between;
    
}

.sign-up button {
    border: white solid 2px;
    display: flex;
   align-self: center;
    height: 40px;
}

.sign-up-text {
    display: flex 1;
}

.sign-up .first {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -10px;
}

.sign-up .second {
    color: #E5E7EB;
    font-size: 18px;
}

/* Footer */

.footer p {
    font-size: 18px;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    margin-bottom: 0px;
    height: 100px;
    align-items: center;
    justify-content: center;
}