body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    background-image: url(https://images.creativemarket.com/0.1.0/ps/6987248/1820/1138/m1/fpnw/wm0/7-.jpg?1568806364&s=7d745629fdffa1b9f7e7e4fbd82efb50);
}

.header {
    background-color: #28053beb;
    padding-bottom: 100px;
    

}

.logo {
    display: flex;
}
.logo img {
    width: auto;
    height: 90px;
    transform: rotate(45deg);
}

.logo p {
    text-transform: uppercase;
    background: linear-gradient(to right, #d030cb 0%, #083567 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     align-self: center;
    padding-left: 30px;
    font-size: 25px;
}
.header-text {
    display: flex 1 1 0;

}

.header-part-2 {
    display: flex;
    gap: 60px;
    padding-left: 200px;
    padding-right: 180px
}

.header-part-2 > * {
    flex: 1;
}
.top {
    display: flex;
    margin-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    height: 100px;
    align-items: center;
    background-color: black;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.header a,
.header-text p {
    font-size: 22px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button {
    background-color: #a32cdc;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 35px;
    border-radius: 10px;
    border: none;
}

.image {
    color:#E5E7EB; ;
    background-color: grey;
    display: flex ;
    align-items: center;
    border-radius: 30px;
    width: auto;
    height: 400px;

}

/* Second section */

.Information h2 {
    font-size: 36px;
    font-weight: bolder;
    color:white;
    justify-content: center;
    display: flex;
    text-shadow: 0 0 0.15em;
}
.Information a {
display: flex;
justify-content: center;
color: #8080803b;
}
.mid-images img {
    border:solid 4px #6f4598;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin: auto;
    opacity: 0.95;
    
}

.mid-images {
    display: flex;
    margin: auto 400px ;
    flex-shrink: 0;
    gap: 30px;
    justify-content: center;
    
}

.mid-images p {
    text-align: center;
}

.first-img p,
.second-img p,
.third-img p,
.fourth-img p {
    
    color: white;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.312);
    border-radius: 10px;
}

.mid-images ul {
    text-align: center;
    list-style: none;
    color: white;
   background-color: rgba(255, 255, 255, 0.312);
   border-radius: 10px;
   font-size: 18px;
   padding: 10px 10px;
}
/*  Third Section (quote) */

.quote {
    background-color: #e5e7ebe6;
    padding: 75px 320px ;
    margin: 60px 0;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .person {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

/* Fourth section */

.sign-up {
    background-color: #3882F6;
    display: flex ;
    margin: 100px 200px ;
    border-radius: 10px;
    padding: 25px 90px;
    justify-content: space-between;
    
}

.sign-up button {
    border: white solid 2px;
    display: flex;
   align-self: center;
    height: 40px;
}

.sign-up-text {
    display: flex 1;
}

.sign-up .first {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -10px;
}

.sign-up .second {
    color: #E5E7EB;
    font-size: 18px;
}

/* Footer */

.footer p {
    font-size: 18px;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    margin-bottom: 0px;
    height: 100px;
    align-items: center;
    justify-content: center;
}